.body{
  background-color: white;
}

.copyright{
  position: fixed!important;
  width:100%;
  bottom:0 !important;
}
.footer-distributed{
  position: fixed;!important
  bottom: 30px !important;
  padding-bottom:65px;
  z-index:-10;
}

.news, .contact_Container,.infoList,.news{
  position:relative;
  background-color:white;
  margin-bottom: 350px!important;
  padding-top:10px;
  padding-bottom:150px;
  margin-top:0;
}
