:root {
  --hexaColor: #75FF63;
  --color2: #004400;
  --color3: #00A800;
  --color4: #75FF63;
  --color5: #D1D1D1;
}


#navbar .hexagon{
  opacity: 1;
}
#active1{
    top:120px;
    left:-70px;
}
#h2{
    top:190px;
    left:-110px;
}
#h3{
    top:260px;
    left:-70px;
}
#h4{
    top:330px;
    left:-110px;
}
#h5{
    top:400px;
    left:-70px;
}

#h6{
    top:190px;
    right:-200px;
}
#h7{
    top:330px;
    right: -200px;
}

.hexagon {
  width: 70px;
  height: 40px;
  transform: translate(-50%,-50%);
  position: fixed;
  background: black;
}
.hexagon::before,
.hexagon::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
}
.hexagon::before {
  background: black;
  transform: rotate(60deg);
}
.hexagon::after {
  background: red;
  transform: rotate(120deg);
}
.hexagon,
.hexagon::after,
.hexagon::before {
  background: var(--hexaColor);
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

.hexagon:hover {
  --hexaColor: #004400;
}
.hexagon:hover > .buttonName {
    color:white;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

#active1.hexagon,
#active1.hexagon::after,
#active1.hexagon::before {
  background: #00A800;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}


.buttonName{
  position: absolute;
  z-index: 2;
  color:black;
  top: 20px;
  left: 35px;
  transform: translate(-50%,-50%);
}
h2{
  margin: 0;
  padding: 0;
  font-size: 20px;
}
