
//login animation

#pop h3{
    white-space: nowrap;
}

#pop input{
  margin: 5px;
  padding: 8px;
  border: 0;
  border-radius: 8px 0 0 8px;
  border: 1px solid #333;
  font-size: 18px;
}
#pop button{
  position: relative;
  left : 100px;
  top: 30px;
  padding: 6px;
  border: 0;
  color: #fff;
  background: #333;
  margin-left: -5px;
  margin-left: -5px;
  border-radius: 0 10px 10px 0;
  border: 1px solid #333;
  font-size: 18px;
}


#pop i {
  position: relative;
  left: 250px;
  bottom: 150px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

#pop .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


#pop {
  z-index: 20;
  visibility: hidden;
  width: 100px;
  height: 100px;
  position: relative;
  top: -20%;
  right: -100%;
}

.pop-up-forward{
  visibility: visible;
  animation: front 1.5s ease forwards;
}

@keyframes front {
  from {right: -100%;}
  to {right: -70%;}
}
/*
.pop-up-backward{
  animation: back  1s ease forwards;
}

@keyframes back {
    from {right: 600px;}
    to {right: -100px;}
}
*/
/*
//sign up animation
#signUP input{
  margin: 5px;
  padding: 8px;
  border: 0;
  border-radius: 8px 0 0 8px;
  border: 1px solid #333;
  font-size: 18px;
}
#signUP button{
  position: relative;
  left : 100px;
  top: 30px;
  padding: 6px;
  border: 0;
  color: #fff;
  background: #333;
  margin-left: -5px;
  margin-left: -5px;
  border-radius: 0 10px 10px 0;
  border: 1px solid #333;
  font-size: 18px;
}


#signUP i {
  position: relative;
  left: 250px;
  bottom: 200px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

#signUP .right {
    overflow-x: hidden;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

#signUP {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 450px;
  right: -100px;
}



.sign-up-forward input{
  margin: 5px;
  padding: 8px;
  border: 0;
  border-radius: 8px 0 0 8px;
  border: 1px solid #333;
  font-size: 18px;
}

.sign-up-forward{
  animation: front2 1.5s ease forwards;
}

@keyframes front2 {
  from {right: 0px;}
  to {right: 600px;}
}

.sign-up-backward{
  animation: back2  1s ease forwards;
}

.sign-up-backward input{
  margin: 5px;
  padding: 8px;
  border: 0;
  border-radius: 8px 0 0 8px;
  border: 1px solid #333;
  font-size: 18px;
}

@keyframes back2 {
    from {right: 600px;}
    to {right: -100px;}
}*/
